.container {
    width: 100%;
    height: 100%;
    padding-top: 150px;
    box-sizing: border-box;
}
.page_title {
    width: 100%;
    height: 150px;
    line-height: 150px;

    font-family: 'KoHo', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #505050;
}
.product_page {
    width: 100%;
    margin-top: 50px;
    overflow: hidden;
    
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product_box {
    width: 470px;
    height: 700px;
    margin-right: 3%;
    margin-bottom: 5%;
    overflow: hidden;

    background: #fff5d6;
    border-radius: 40px;

    float: left;

    transform: translateY(80px);
    opacity: 0;
}
.product_box:nth-child(3n) {
    margin-right: 0;
}
.product_box:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.img_box {
    width: 470px;
    height: 470px;
    overflow: hidden;
}
.img_box > img {
    width: 100%;
}
.line {
    width: 100%;
    height: 3px;
    margin: 20px 0;
    background: linear-gradient(to right,#fff,#fff4bf,#ffe97c,#ffe45b,#fad833,#ffe45b,#ffe97c,#fff4bf,#fff);
}
.desc_box {
    width: 100%;
    height: 230px;
    overflow: hidden;

    padding: 10px;
    box-sizing: border-box;

    text-align: center;
    color: #505050;
}
.product_title {
    font-size: 18px;
    font-weight: 900;
    margin-top: 20px;
}
.product_desc {
    font-size: 15px;
    font-weight: 700;
    margin: 20px 0;
}
.product_price {
    font-size: 18px;
    font-weight: 900;
    margin: 20px 0 30px;
}
.go_box {
    overflow: hidden;
    cursor: pointer;
}
.go_box > div {
    display: inline-block;
    vertical-align: middle;
}
.go_txt {
    font-family: 'MuseoModerno', cursive;
    font-size: 17px;
    font-weight: 600;
    margin-right: 5px;
}
.go_circle {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    margin-right: 5px;
}
.go_arrow {
    width: 30px;
    height: 30px;
    transform: translateX(-25px);
}
.go_arrow > img {
    width: 100%;
    -webkit-filter: opacity(.0.5) drop-shadow(0 0 0 #505050);
    filter: opacity(.5) drop-shadow(0 0 0 #505050);
}


/* ///// FOOTER ///// */
footer {
    margin: 100px 0 30px;
}

@media screen and (max-width: 1500px) {
    .product_box {
        margin: 0 5% 5%;
    }
    
    .product_box:nth-child(3n) {
        margin: 0 5% 5%;
    }
}
@media screen and (max-width: 550px) {
    .M_ham_btn {
        width: 40px;
        height: 40px;
        left: 20px;
        top: 25px;
    }
    .M_ham_line:nth-child(1) {
        margin-top: 13px;
    }
    .M_ham_line {
        width: 22px;
    }
}

@media screen and (max-width: 500px) {
    .product_box {
        width: 400px;
        /* height: 600px; */
        height: auto;
    }
    .img_box {
        width: 100%; 
        /* height: 400px; */
        
        height: auto;
    }
    .product_title {
        font-size: 16px;
        margin-top: 10px;
    }
    .product_desc {
        font-size: 13px;
        margin: 15px 0;
    }
    .product_price {
        font-size: 17px;
        margin: 20px 0 20px;
    }
}